---
$schema: "https://json-schema.org/draft/2020-12/schema"

description: snakemake configuration file

type: object

# possible entries of the config file and which type they should be
properties:
  seed:
    type: integer
  wrapper_directory:
    type: string
  adapters:
    type: object
    properties:
      left:
        type: string
        default: ""
      right:
        type: string
        default: ""
    required:
      - left
      - right
    default: {}
  training:
    type: object
    properties:
      folds:
        type: integer
        default: 10
      model:
        type: string
        enum: [standard, simplified, saluki, file, legnet]
        default: standard
      model_files:
        type: object
        # properties:
        #   model:
        #     oneOf:
        #       - type: string
        #       - type: object
        #         patternProperties:
        #           ^[0-9]+$:
        #             type: object
        #             patternProperties:
        #               ^[0-9]+$:
        #                 type: string
          # weights:
          #   oneOf:
          #     - type: string
          #     - type: object
          #       patternProperties:
          #         ^[0-9]+$:
          #           type: object
          #           patternProperties:
          #             ^[0-9]+$:
          #               type: string
      loss:
        type: string
        enum: [MSE, Huber, Poission, CategoricalCrossentropy]
        default: MSE
      augmentation:
        type: boolean
        default: false
      augment_on:
        type: array
        minitems: 2
        maxitems: 2
        items:
          type: integer
    default: {}
    allOf:
      - if:
          properties:
            model:
              const: file
          required:
            - model
        then:
          required:
            - model_files
      - if:
          properties:
            model:
              const: legnet
          required:
            - model
        then:
          required:
            - model_files
  prediction:
    type: object
    properties:
      output_names:
        type: array
        items:
          type: string
        default: ["MEAN"]
      output_size:
        type: integer
        default: 1
      augmentation:
        type: boolean
        default: false
      augment_on:
        type: array
        minitems: 2
        maxitems: 2
        items:
          type: integer
      mask:
        type: array
        items:
          type: array
          minitems: 2
          maxitems: 2
          items:
            type: integer
        default: []
      sequence_length:
        type: integer
        default: 230
      mutation_length:
        type: integer
        default: 200
      mutation_start:
        type: integer
        default: 16
    default: {}
  reference:
    type: object
    properties:
      genome:
        type: string
      fasta:
        type: string
    required:
      - genome
      - fasta
  input:
    type: object
    properties:
      fasta:
        anyOf:
          - type: string
          - type: object
            additionalProperties:
              type: string
      labels:
        type: string
      length:
        type: integer
        default: 300
      merge:
        type: integer
        default: 50
      sliding:
        type: integer
        default: 50
    required:
      - length
      - merge
      - sliding
  samples:
    type: string
  tests:
    type: string

# entries that have to be in the config file for successful validation
required:
  - training
  - prediction
  - seed
  - wrapper_directory
  - reference
